# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Environment variables
.env
*.env

# Test results
TestResults/

# macOS
.DS_Store
